<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>352912943392-bt1elpm0b42gqaek4j8vh1t3kfjl5com.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352912943392-bt1elpm0b42gqaek4j8vh1t3kfjl5com</string>
	<key>API_KEY</key>
	<string>AIzaSyARQ3h1OZ8A6eJTSOEpYKxFUX-9TQxXAEg</string>
	<key>GCM_SENDER_ID</key>
	<string>352912943392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sigmaprojects.ClassicJunk</string>
	<key>PROJECT_ID</key>
	<string>classicjunk-multiplat</string>
	<key>STORAGE_BUCKET</key>
	<string>classicjunk-multiplat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:352912943392:ios:747201564c94af87</string>
	<key>DATABASE_URL</key>
	<string>https://classicjunk-multiplat.firebaseio.com</string>
</dict>
</plist>