page-notifications {
    //background: url('/assets/bg_mail_receive.png') no-repeat right bottom fixed;
    @extend %bg-notifications;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    background-size: 25%;
}

page-notifications .item {
    margin: 7px 6px 7px 6px;
    width: calc(100% - 12px);
    border-radius: 2px;
    font-size: 1.4rem;
    /*background: #fff;*/
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.2);
}

page-notifications .item-md h4 {
    color: #387ef5 !important;
}
page-notifications .item-md h4.new {
    color: #4CBB17 !important;
}

page-notifications .item-md, page-notifications .list-md, page-notifications .content-md {
    background-color:transparent;
}

