/*
inventory-modal ion-footer ion-icon{
    font-size: 2.5em;
    color: #fff;
}
inventory-modal ion-footer button {
    color: #fff;
}
inventory-modal ion-footer span.button-inner {
    color: #fff;
}
inventory-modal ion-footer .toolbar-background-md {
    background: $header-footer-background-color;
}
*/

inventory-modal ion-footer {
    .toolbar-background {
        background-color: $header-footer-background-color;
        border-color: $header-footer-border-color;
    }
    .toolbar-title {
        color: #fff;
    }
    .bar-button {
        color: #fff;
    }
    ion-icon {
        font-size: 2.5em;
    }
}

inventory-modal .footer-md::before {
    background: #fff;
}

.share-action-sheets {
    button span {
        color: #387ef5;
    }
    button span ion-icon {
        color: #000;
    }

    button:last-child span {
         color: #000;
    }
    .action-sheet-group {
        border-radius: 13px;
    }

}

//.share-action-sheets button span

.action-sheet-wrapper {
    width: 70%;
}