page-search {
    //background: url('/assets/bg_search.png') no-repeat right bottom fixed;
    @extend %bg-search;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    background-size: 25%;
}

page-search .item-md h4 {
    color: #387ef5;
}

page-search .item {
    margin: 7px 6px 7px 6px;
    width: calc(100% - 12px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.2);
}

page-search .item-md, page-search .list-md, page-search .content-md {
    background-color:transparent;
}