page-search {
    //background: url('/assets/bg_search.png') no-repeat right bottom fixed;
    @extend %bg-search;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    background-size: 25%;
}

page-search .item-md h4 {
    color: #387ef5;
}

page-search .item-md, page-search .list-md, page-search .content-md {
    background-color:transparent;
}
