page-watches {
    //background: url('/assets/bg_accept.png') no-repeat right bottom fixed;
    @extend %bg-alert;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    -webkit-background-size: 25%;
    -moz-background-size: 25%;
    background-size: 25%;
}

page-watches .item-md {
    color: #387ef5;
}

page-watches .item {
    margin: 7px 6px 7px 6px;
    width: calc(100% - 12px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,.2);
}

page-watches .item-md, page-watches .list-md, page-watches .content-md {
    background-color:transparent;
}
